<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>cover</string>
	</dict>
	<dict>
		<key>name</key>
		<string>page 1</string>
		<key>words</key>
		<dict>
			<key>text</key>
			<string>Once upon a time there was a square who learned how to stand on his head.</string>
			<key>y</key>
			<integer>10</integer>
			<key>x</key>
			<integer>10</integer>
			<key>cues</key>
			<array>
				<string>1.747302</string>
				<string>2.227664</string>
				<string>2.503401</string>
				<string>2.652880</string>
				<string>2.943129</string>
				<string>3.117279</string>
				<string>3.320454</string>
				<string>3.374150</string>
				<string>4.481451</string>
				<string>4.643991</string>
				<string>5.154830</string>
				<string>5.244807</string>
				<string>5.340590</string>
				<string>5.886259</string>
				<string>6.060408</string>
				<string>6.280998</string>
			</array>
		</dict>
		<key>tap</key>
		<array>
			<string>square</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>page 2</string>
		<key>words</key>
		<dict>
			<key>text</key>
			<string>And all of his friends jumped up and down and said &quot;Horray!&quot;</string>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
			<key>cues</key>
			<array>
				<string>1.617111</string>
				<string>1.914132</string>
				<string>2.453169</string>
				<string>2.640182</string>
				<string>2.986706</string>
				<string>3.822763</string>
				<string>4.141785</string>
				<string>4.339799</string>
				<string>4.565315</string>
				<string>4.939340</string>
				<string>5.208859</string>
				<string>5.890906</string>
				<string>5.890906</string>
			</array>
		</dict>
		<key>tap</key>
		<array>
			<string>friends</string>
		</array>
	</dict>
</array>
</plist>
